@use "colors";

@mixin grid-container($rows) {
    margin: 0 auto;
    padding: 0 1.3rem;
    display: grid;
    grid-template-columns: $rows;
    grid-gap: 1em;
    justify-content: center;
    align-items: center;
}

@mixin button($border-radius: 30px) {
    display: block;
    border: none;
    border-radius: $border-radius;
    font-weight: 700;
    padding: 0.6em 1.6em;
    background: colors.$cyan;
    transition: opacity 400ms;
    font-family: inherit;
    font-size: inherit;
    color: white;
    margin: 0 auto 1em;
    transition: background-color 250ms;
    &:hover {
        cursor: pointer;
        outline: none;
        background: lighten(colors.$cyan, 10%);
    }
}

@mixin card {
    background-color: white;
    border-radius: 10px;
    padding: 1em;
}
