/* Stylesheet content
  1. Global styles
  2. Typography 
  4. Components
  5. Header 
  6. Hero-section
  7. Main content
  8. CTA section
  9. Footer
======================================== */

@use "colors";
@use "mixins";

/* 1. Global Styles
======================================== */

* {
    box-sizing: border-box;
}

:root {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: colors.$gray-violet;
    line-height: 1.6;
}

img {
    width: 100%;
}

/* 2. Typography
======================================== */

h1 {
    color: colors.$dark;
}

h2 {
    color: colors.$dark-blue;
}

h3 {
    color: colors.$gray-violet;
}

h4 {
    color: colors.$gray;
}

/* 3. Components
======================================== */

.button-primary {
    @include mixins.button;
}

.button-secondary {
    @include mixins.button;
    background: transparent;
    color: white;
}

input {
    padding: 1em;
    border: none;
    color: inherit;
    width: 100%;
    display: block;
}

/* 4. Header
======================================== */

header {
    position: relative;
}

.flex-container {
    width: 90%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: colors.$dark-blue;
}

.menu-open {
    background: transparent;
    border: none;
    color: inherit;
    font-size: 1.5rem;
}

.hidden {
    opacity: 0.5;
    display: none;
    transition: all 250ms;
}

.nav-header {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 5vw;
    right: 5vw;
    background: colors.$dark-violet;
    text-align: center;
    border-radius: 10px;
    padding: 1em 2em;

    ul {
        list-style: none;
        padding: 0;
        border-bottom: 1px solid colors.$gray-violet;

        li {
            margin-bottom: 1.5em;

            a {
                color: white;
                text-decoration: none;
                font-weight: 700;
                &:hover {
                    color: colors.$gray-violet;
                }
            }
        }
    }
}

.auth-container {
    margin: 0 auto;
    width: 100%;
}

/* 4. Hero section
======================================== */

@media (min-width: 720px) {
    :root {
        font-size: 20px;
    }
}

@media (min-width: 1440px) {
    :root {
        font-size: 22px;
    }
}

.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
