/* Stylesheet content
  1. Global styles
  2. Typography 
  4. Components
  5. Header 
  6. Hero-section
  7. Main content
  8. CTA section
  9. Footer
======================================== */

@use "colors";
@use "mixins";

$breakpoint: 960px;

/* 1. Global Styles
======================================== */

* {
    box-sizing: border-box;
}

:root {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-size: 18px;
}

body {
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
    text-rendering: optimizeLegibility;
    font-family: "Poppins", sans-serif;
    -webkit-font-smoothing: antialiased;
    color: colors.$gray-violet;
    text-align: center;
}

img {
    width: 100%;
}

/* 2. Typography
======================================== */

h1 {
    font-size: 2.3rem;
    color: colors.$dark;
    line-height: 1;
}

h2 {
    color: colors.$dark-blue;
}

h3 {
    color: colors.$dark-violet;
}

h4 {
    color: white;
    margin-bottom: 0;
}

p {
    line-height: 1.6;
}

/* 3. Components
======================================== */

.button-primary {
    @include mixins.button;
}

.button-secondary {
    @include mixins.button;
    background: transparent;
    color: white;
}

/* 4. Header
======================================== */

header {
    position: relative;

    .logo {
        color: colors.$dark-blue;
    }
}

.flex-container {
    width: 90%;
    margin: 2em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-open {
    background: transparent;
    border: none;
    color: inherit;
    font-size: 1.5rem;
    transition: color 250ms;
    &:hover {
        cursor: pointer;
        color: colors.$dark-blue;
    }
}

.nav-header {
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 15vw;
    right: 15vw;
    background: colors.$dark-violet;
    text-align: center;
    border-radius: 10px;
    padding: 1em 2em;
    visibility: hidden;
    opacity: 0.2;
    transition: all 300ms ease;

    ul {
        list-style: none;
        padding: 0;
        border-bottom: 1px solid colors.$gray-violet;

        li {
            margin-bottom: 1.5em;

            a {
                color: white;
                text-decoration: none;
                font-weight: 700;
                &:hover {
                    color: colors.$gray-violet;
                }
            }
        }
    }
}

.auth-container {
    margin: 0 auto;
    width: 100%;
}

.visible {
    visibility: initial;
    opacity: 1;
    left: 5vw;
    right: 5vw;
}

@media (min-width: $breakpoint) {
    :root {
        font-size: 18px;
    }

    body {
        text-align: left;
    }

    .menu-open {
        display: none;
    }

    .flex-container {
        max-width: 1200px;
    }

    .nav-header {
        position: relative;
        top: initial;
        left: initial;
        right: initial;
        display: flex;
        padding: 0;
        background: transparent;
        visibility: initial;
        opacity: 1;
        transition: all 300ms ease;
        justify-content: space-between;
        width: 90%;

        ul {
            display: flex;
            list-style: none;
            padding: 0;
            border-bottom: none;
            margin-left: 1em;

            li {
                margin: 0 0.8em;

                a {
                    color: colors.$gray-violet;
                    text-decoration: none;
                    font-weight: 700;
                    &:hover {
                        color: colors.$dark-violet;
                    }
                }
            }
        }
    }

    .auth-container {
        display: flex;
        width: 250px;
        margin: 0;
    }

    .button-secondary {
        color: colors.$gray-violet;

        &:hover {
            background: transparent;
            color: colors.$dark-violet;
        }
    }
}

/* 4. Hero section
======================================== */

.hero {
    @include mixins.grid-container(1fr);
    margin-bottom: 2em;
}

.hero-image {
    grid-row: 1 / 2;
    display: block;
    width: 150%;
}

@media (min-width: $breakpoint) {
    .hero {
        @include mixins.grid-container(repeat(3, 1fr));
        margin-bottom: 3em;
        max-width: 1200px;
        padding: 0;

        .button-primary {
            margin-left: 0;
        }
    }

    .hero-content {
        grid-column: 1 / 3;
        padding-right: 6em;
    }

    .hero-image {
        grid-column: 3;
        width: 160%;
    }
}

/* 5. Main section
======================================== */

main {
    @include mixins.grid-container(1fr);
    background: hsl(0, 0%, 93%);
    position: relative;
    &::before {
        content: "";
        display: block;
        background-color: white;
        width: 120%;
        height: 60px;
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        left: 0;
    }

    form {
        background: colors.$dark-violet url("../images/bg-shorten-desktop.svg");
        background-size: cover;
        padding: 1em;
        z-index: 1;
        border-radius: 10px;
    }
}

.input-url {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    display: block;
    border-radius: 5px;
    padding: 0.6em 1em;
    border: none;
    &:focus {
        outline: none;
        background: whitesmoke;
        color: colors.$dark-violet;
    }
}

.button-primary-wide {
    @include mixins.button(5px);
    width: 100%;
}

.error-message {
    font-style: italic;
    font-size: 0.7rem;
    color: colors.$red;
    text-align: left;
    margin-top: 0.3em;
}

.loader {
    width: 64px;
    height: 64px;
    margin: 0 auto;
    display: block;
}

.result-container {
    @include mixins.card;
    text-align: left;
}

.source-url {
    color: colors.$dark-blue;
    margin: 0 auto 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 2px solid hsl(0, 0%, 93%);
}

.result-url {
    color: colors.$cyan;
    display: block;
    margin-bottom: 0.5em;

    &:hover {
        color: lighten(colors.$cyan, 20%);
    }
}

.features-container {
    margin-top: 4rem;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 0;
        background-color: colors.$cyan;
        width: 8px;
        height: 100%;
        top: 0;
        left: 50%;
        margin-left: -5px;
    }
}

.card {
    @include mixins.card;
    margin-bottom: 5rem;
    position: relative;
    z-index: 1;

    span {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: colors.$dark-violet;
        width: 80px;
        height: 80px;
        border-radius: 50%;
        margin: -60px auto 0;

        img {
            display: block;
            width: 50%;
        }
    }

    p {
        font-size: 0.9rem;
    }
}

@media (min-width: $breakpoint) {
    form {
        @include mixins.grid-container(1em repeat(10, 1fr) 1em);
        background: colors.$dark-violet url("../images/bg-shorten-desktop.svg");
        width: 100%;
        max-width: 1200px;
    }

    .input-url {
        grid-column: 2 / 9;
        margin-top: 1em;
    }

    .button-primary-wide {
        grid-row: 1 / 2;
        grid-column: -2 / -5;
        margin-top: 1em;
    }

    .error-message {
        grid-column: 2 / 8;
        margin: -1em 0 1em;
    }

    .result-container {
        @include mixins.grid-container(repeat(6, 1fr));
        width: 100%;
        max-width: 1200px;
        padding: 1em 2em;

        .button-primary-wide {
            margin: 0;
        }
    }

    .source-url {
        grid-column: 1 / 4;
        border-bottom: none;
        margin: 0;
        padding: 0;
    }

    .col-right {
        grid-column: 4 / 7;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .result-url {
        margin: 0 1em 0;
        width: 300%;
        text-align: right;
    }

    .features-title,
    .features-description {
        text-align: center;
        width: 60%;
        margin: 0 auto;
    }

    .features-title {
        margin-top: 3em;
    }

    .features-container {
        @include mixins.grid-container(repeat(3, 1fr));
        padding: 0;
        gap: 1.5em;
        max-width: 1200px;

        .card:nth-of-type(2) {
            margin-top: 4em;
        }

        .card:nth-of-type(3) {
            margin-top: 8em;
        }

        &::before {
            width: 80%;
            height: 8px;
            left: 10%;
            top: 40%;
        }
    }
}

/* 5. CTA section
======================================== */

.cta-section {
    background: colors.$dark-violet url("../images/bg-boost-mobile.svg");
    padding: 4em 0;

    h2 {
        color: white;
        margin-top: 0;
    }
}

@media (min-width: $breakpoint) {
    .cta-section {
        background: colors.$dark-violet url("../images/bg-boost-desktop.svg");
        background-size: cover;
        padding: 4em 0;

        h2 {
            text-align: center;
        }
    }
}

/* 5. Footer
======================================== */

footer {
    background: colors.$dark;
    padding: 0 5vw;
}

.footer-container {
    @include mixins.grid-container(1fr);
    padding: 2em;
    max-width: 1200px;

    .logo {
        color: white;
        margin: 0 auto;
    }

    ul {
        list-style: none;
        padding: 0;

        li {
            margin: 0.5em;

            &:hover {
                color: colors.$cyan;
                cursor: pointer;
            }
        }
    }
}

.social-media-container {
    display: flex;
    justify-content: space-between;
    margin: 1em auto;
}

.social-media-icon {
    color: white;
    margin: 0 0.5em;

    &:hover {
        color: colors.$cyan;
        cursor: pointer;
    }
}

.attribution {
    font-size: 0.7rem;
    opacity: 0.3;

    p {
        margin: 0;
    }

    a {
        color: colors.$cyan;
        text-decoration: none;

        &:hover {
            color: (colors.$cyan, 30%);
            text-decoration: underline;
        }
    }
}

@media (min-width: $breakpoint) {
    .footer-container {
        @include mixins.grid-container(repeat(6, 1fr));
        align-items: start;
        padding: 4em 0 2em;

        .logo {
            grid-column: 1 / 3;
            margin-left: 0;
        }

        h4 {
            margin-top: 0;
        }

        ul {
            li {
                margin-left: 0;
            }
        }
    }

    .social-media-container {
        margin-top: 0;
        width: 100%;
    }

    .attribution {
        grid-column: 1 / 7;
        text-align: center;
    }
}
